<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/assets/img/small_logo.png" /><![endif]-->
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/logo_turquoise.png" alt="SECUBIC: SECUred BInary supply-Chain" width="112" height="28">
      </a>

      <button class="button navbar-burger" data-target="nav-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu" id="nav-menu" >
      <div class="navbar-start ">
        <!-- <a class="navbar-item" href="/apiref/">
         !--   API 
         !-- 
         !-- </a> -->
        <!-- <a class="navbar-item" href="">
         !--   Blog
         !-- </a> -->

       <a class="navbar-item" href="/#about">
          <i class="far fa-question-circle"></i>
          <span>About</span>
        </a>
          
        <a class="navbar-item" href="/#people">
          <i class="fas fa-users"></i>
          <span>People</span>
        </a>

        <a class="navbar-item" href="/currentjobs">
          <i class="fas fa-bell"></i>
          <span>Jobs</span>
        </a>

	       <a class="navbar-item">
         </a>
                 
        <a class="navbar-item" href="/publications">
          <i class="fas fa-microscope"></i>
          <span>Publications</span>
        </a>

        <a class="navbar-item" href="/achievements">
          <i class="fas fa-tools"></i>
          <span>Tools</span>
        </a>

         <a class="navbar-item">
         </a>

      </div>

      <div class="navbar-end">
      </div>
    </div>
    
  </div>
</nav>

